body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #505259;
    overflow: hidden; /* Prevents body from scrolling */
  }

.container-fluid {
    height: 100vh;
    overflow: hidden;
}
  
  .editor-container {
    height: 100vh;
    padding: 30px;
    overflow: auto;
    background: #505259;
    
  }
  
  .editor-toolbar {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .editor-content-title {
    padding: 20px;
    font-size: 30px;
    border: 2px solid #ddd;
    border-radius: 7px;
    outline: none;
    min-height: 100px;
  }

  .editor-content-body {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ddd;
    border-radius: 7px;
    outline: none;
    min-height: 550px;
  }
  
  .editor-content-title:focus {
    border-color: #007bff;
  }

  .editor-content-body:focus {
    border-color: #007bff;
  }

  .editor-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .editor-placeholder {
    color: #aaa
  }

  .btn-light {
    margin-right: 5px;
  }
  
  .btn-light:hover {
    background-color: #f0f0f0;
  }
  