/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    box-sizing: border-box;
}

body {
  /*background: #fafafa;*/
  background: #505259;
  color: #ffffff;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  /*background: linear-gradient(270deg, #e7e1fd, #505259);*/
  background: #505259;
}

.container_nav {
  margin: 0 auto;
  flex-direction: row;
}

.navbar {
    font-size: 2rem;
}

.navbar-brand
{
  font-size: 3rem;
  font-weight: bolder;
}

.site-header .collapse {
    padding: 1rem;
}

.site-header .collapse .navbar-nav .active {
  font-size: 2rem;
  font-weight: bolder;
  background: #333333;

}

.site-header .collapse .navbar-nav .nav-link {
    padding-right: 2rem;
}

.site-header .collapse .nav-right-side {
  background: #428bca;
  right: 20%;
}

/*.navbar-nav::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: scaleX(0) translateX(-50%);*/
/*    width: 30px;*/
/*    height: 1px;*/
/*    background-color: #185cff;*/
/*    transition: transform .3s;*/
/*    transform-origin: center;*/
/*}*/

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container_divider {
  flex-direction: row;
  width: 90%;
  padding-top: 5%;
  padding-bottom: 2%;
}

hr.n_1 {
  border: 3px solid black;
  border-radius: 20px;
}

.container_content {
  flex-direction: row;
  min-width: 800px;
  margin: 0 auto;
}

.modal-content {
  background-color: #EEEEEE;

}

.modal-body {
  display: flex;
  flex-direction: row;
}

.modal-footer {
  display: flex;
  flex-direction: row;
}

.section {
  flex: 1;
  padding: 20px;
  margin: 0 auto;
}

.div_separator {
  width: 2px;
  background-color: #333333;
  margin: 0 20px;
}

.modal-dialog-custom {
  min-width: 50%;
}

.container_clipboard {
  text-align: center;
  background-color: #505259;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_info {
  color: black;
  text-align: center;
  background-color: #3e93ed;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  padding: 5px 10px 5px 10px;
  position: relative;
}

.container_info.notification-show {
  opacity: 1;
  transform: translateX(0);
}

.channel-detail {
  margin: 10px 0;
}

.channel-detail-info {
  margin: 10px 0;
  text-align: left;
  padding-top: 5px; 
}

.channel-value {
  line-height: 1.0;
  color: whitesmoke;
}

img {
  border-radius: 50%;
  max-width: 100px;
}

#text-to-copy {
    margin-bottom: 20px;
    font-size: 24px;
    color: floralwhite;
}

#copy-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d8d3d3;
    color: #232222;
    transition: background-color 0.3s;
}

#copy-button:hover {
    background-color: #0056b3;
}

.login_field {
  padding: 10px 10px;
}

.otp-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.username-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
}

.username-input{
  width: 250px;
  height: 40px;
  font-size: 18;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.username-input:focus {
  border-color: #007bff;
  outline: none;
}

.profile-name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* .btn {
  display: block;
  margin: 0 auto;
} */

/*.content-section {*/
/*  background: #ffffff;*/
/*  padding: 10px 20px;*/
/*  border: 1px solid #dddddd;*/
/*  border-radius: 3px;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.article-title {*/
/*  color: #444444;*/
/*}*/

/*a.article-title:hover {*/
/*  color: #428bca;*/
/*  text-decoration: none;*/
/*}*/

/*.article-content {*/
/*  white-space: pre-line;*/
/*}*/

/*.article-img {*/
/*  height: 65px;*/
/*  width: 65px;*/
/*  margin-right: 16px;*/
/*}*/

/*.article-metadata {*/
/*  padding-bottom: 1px;*/
/*  margin-bottom: 4px;*/
/*  border-bottom: 1px solid #e3e3e3*/
/*}*/

/*.article-metadata a:hover {*/
/*  color: #333;*/
/*  text-decoration: none;*/
/*}*/

/*.article-svg {*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  vertical-align: middle;*/
/*}*/

/*.account-img {*/
/*  height: 125px;*/
/*  width: 125px;*/
/*  margin-right: 20px;*/
/*  margin-bottom: 16px;*/
/*}*/

/*.account-heading {*/
/*  font-size: 2.5rem;*/
/*}*/
