{% extends "dashboard_base.html" %}
{% load static %}

{% block csrf_block %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user_verse/editor.css'%}">
{% endblock %}

{% block title %}Text Editor{% endblock %}

{% block content %}
    <div class="col-11 p-0">
        
        <div class="container">
            <div class="editor-container">
                <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                
                
                <div id="blog-info" class="p-3" data-blog-id="{{verse_id}}">
                    <h3 class="text-light">Blog |  <a href="{% url 'blog-post-list' verse_id %}" style="text-decoration: none; color: white"><span class="fs-2 fw-bolder">{{verse_name}}</span></a></h3>
                </div>
            
                
                <form method="POST" action="{% url 'blog-post-create' verse_id %}" autocomplete="off">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> Please correct the following errors:
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li><!--{{ field }}: -->{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="d-flex align-items-center justify-content-center">
                        {{ form.title }}
                    </div>
        
                    <!-- Content Field -->
                    <div class="d-flex align-items-center justify-content-center">
                        {{ form.content }}
                    </div>
                    {% if post %}
                        <div id="post-id" class="d-flex justify-content-end" data-post-id="{{post.id}}">
                            
                                <button type="submit" class="btn btn-lg mt-3 px-5 bg-dark text-light fs-1"> 
                                Update
                                </button>
                            
                        </div> 
                        {% else %}
                            <div class="d-flex justify-content-end">
                                
                                    <button type="submit" class="btn btn-lg mt-3 px-5 bg-dark text-light fs-1"> 
                                    Publish
                                    </button>
                            
                            </div>
                        {% endif %}    
                    </form>    
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'dashboard.js' %}"></script>
{% endblock %}


