{% extends "dashboard_base.html" %}

{% load static %}

{% block csrf_block %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}VERSE{% endblock %}

{% block content %}

<div class="col-10 p-4">
    <div class="container mt-4">
        {% if user_channels %}
            <div class="container channel-info-post">  
                <div class="d-flex justify-content-center align-items-center pb-2"> 
                    <h3 class="text-light fs-2 fw-bolder pt-4">Channels</h3>
                </div>
            </div>
            
            <div class="container_divider pt-5 mt-5">
                <hr class="n_1">
            </div>
            <div class="row">
                <div class="col-12">
                    {% for channel in user_channels %}
                    <div class="container channel-card">
                        <a href="{% url 'post-list' channel.id %}" style="text-decoration: none;">
                            <div class="row">
            
                                <div class="p-3 col-2">
                                    <div>
                                        <img src="{% if channel.photo %}{{ channel.photo.url }}{% else %}{% static 'default_image.jpg' %}
                                        {% endif %}" alt="Channel photo" style="width:130px;height:130px;border-radius:50%;" class="dynamic-image"> 
                                    </div>
                                </div>
                                <div class="col-8 pt-5 mt-2">              
                                    <h3 class="fs-2 fw-bolder">{{channel.chat_title}}</h3>
                                </div>
                                <div class="col-2 pt-2 ml-4">
                                    <h3 class="fs-4">{{channel.chat_type}}</h3>
                                </div>
                            </div>
                        </a>    
                    </div>
                    {% endfor %}
                    <!-- Add more channel cards as needed -->
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center fixed-bottom-right">
                <a href="{% url 'webhook' %}">
                <button type="button" class="btn btn-lg px-5 bg-dark text-light fs-1 gap-3" data-toggle="modal" data-target="#customModal">
                    New Channel
                </button>
                </a>
            </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center pb-2"> 
                <h3 class="text-light fs-2 fw-bolder">There are no Channels</h3>
            </div>
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-1 fw-bold text-body-emphasis">Let's link Telegram <b style="color: white">Channel</b></h1>
                <div class="col-lg-6 mx-auto mt-5 pt-5">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'webhook' %}">
                    <button type="button" class="btn btn-lg px-5 bg-dark text-light fs-1 gap-3" data-toggle="modal" data-target="#customModal">
                        New Channel
                    </button>
                    </a>
                </div>
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="customModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-custom" role="document">
                <div class="modal-content container">
                    <div class="container">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-11">
                                        <h1 class="fw-bold text-center">Link your Telegram Channel to your <b class="fw-bolder">VERSE</b></h1>
                                    </div>
                                    <div class="col-1 p-2">
                                        <button id="deleteWebhook" type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="section">
                              <h2 class="fw-semibold"></h2>
                              <p class="fs-5 text-dark">
                                  - It is very easy to connect your Telegram channel to VERSE<br>
                                  - Just add this <a style="text-decoration: none" href="#" onclick="executeScriptAndRedirect('https://t.me/verse_uz_bot'); return false;">VERSE</a> bot to your channel or group chat<br>
                              </p>
                              <p class="fs-5 pt-2 text-dark" id="notification-message">
                                  The channel you added will appear on the screen!
                              </p>
                              <div class="container_info mt-3" id="telegramInfo">
                                <div class="row">
                                  <div class="channel-detail col-4">
                                      <span class="channel-value img-notification" id="channel-photo"></span>
                                  </div>
                                  <div class="channel-detail-info col-6">
                                      <div class="col">
                                        <div class="row pb-2">
                                          <span class="channel-value fs-2 fw-bolder" id="channel-name"></span>
                                        </div>
                                        <div class="row">  
                                          <span class="channel-value fs-5" id="channel-type"></span>
                                        </div>  
                                      </div>  
                                  </div>
                                </div>
                              </div>
                              <div class="section d-flex pt-3 justify-content-center">
                                <a href="{% url 'dashboard-channels' %}" type="button" class="btn btn-secondary btn-lg">Link</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'main_page.js' %}"></script>
<!-- <script>
    document.querySelectorAll('.dynamic-image').forEach(img => {
    img.onerror = () => {
      img.src = '{% static "default_image.jpg" %}';
    };
  });
</script> -->
{% endblock %}

