{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block csrf_block %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'user_verse/main.css'%}">
    <link id="theme-style" href="{% static 'user_verse/dark-theme.css'%}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container_nav site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          {% if user.is_authenticated %}
            <div class="col-md-6 mb-2 mb-md-0">
              <a class="navbar-brand mr-4" href="{% url 'main' %}"><span class="pr-3 profile-name fw-bolder">{{user}}'s</span> VERSE</a>
            </div>
          {% else %}
            <div class="col-md-5 mb-2 mb-md-0">
              <a class="navbar-brand mr-4" href="{% url 'main' %}">VERSE</a>
            </div>
          {% endif %}
          <div class="container collapse navbar-collapse" id="navbarToggle">
            <div class="col-4 navbar-nav mr-auto">
              <a class="nav-item nav-link" href="">About</a>
{#              <a class="btn nav-item nav-link active bg-dark" type="button" aria-current="page" href="">New Verse</a>#}
            </div>
            <!-- Navbar Right Side -->
            <div class="col-6 navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'dashboard-channels' %}">Workspace</a>
                <a class="nav-item nav-link" href="">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg id="currentThemeIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="themeDropdown">
                      <a class="dropdown-item" href="#" data-theme="light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                          <span class="m-1">Light</span>
                      </a>
                      <a class="dropdown-item" href="#" data-theme="dark">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-star"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9"/><path d="M20 3v4"/><path d="M22 5h-4"/></svg>
                          <span class="m-1">Dark</span>
                      </a>
                  </div>
                </div>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'otp_login' %}">Login</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg id="currentThemeIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="themeDropdown">
                      <a class="dropdown-item" href="#" data-theme="light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                          <span class="m-1">Light</span>
                      </a>
                      <a class="dropdown-item" href="#" data-theme="dark">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-star"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9"/><path d="M20 3v4"/><path d="M22 5h-4"/></svg>
                          <span class="m-1">Dark</span>
                      </a>
                  </div>
                </div>
              {% endif %}
            </div>
            
          </div>
        </div>
      </nav>
    </div>
    <div class="container_divider ">
        <hr class="n_1">
    </div>
    <div role="main" class="container_content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="container_divider">
        <hr class="n_1">
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      const lightThemeUrl = "{% static 'user_verse/light-theme.css' %}";
      const darkThemeUrl = "{% static 'user_verse/dark-theme.css' %}";
    </script>
    <script src="{% static 'toggle.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>